.main{
    margin:auto;
    text-align: center;
}

.div_title {
    margin-top: 7%;
}

.forms{
    display:inline-block;
}

.icon_play{
    max-width: 4rem;
    max-height: 4rem;
    margin-right: 10px;
    padding-bottom: 10px;
}

.btn_start_game{
    background-color: transparent;
    font-size: 1.5rem;
    color: #ff5155;
    padding-right: 20px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn_start_game div{
    vertical-align: middle;
}

.forms input{
    width: 350px;
    height: 50px;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 80%);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    opacity: .59;
    border-radius: 5px;
    padding-left: 20px;
    color: #032228;
    display: block;
}

.forms select{
    margin-right: 0;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #97a5a7;
    padding-left: 22px;
    appearance: none;
    -webkit-appearance: none;
    width: 350px;
    height: 50px;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 80%);
    margin-bottom: 20px;
    display: block;
}

.forms select option{
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 80%);
}

.div_title h3 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid red; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    color: red;
 } 
 
 .div_title h3 span { 
     padding:0 10px; 
 }
 