.basetimer {
    position: relative;
    height: 300px;
    width: 300px;
    margin-left: 30%;
  }

  @media only screen and (max-width: 768px){
    .basetimer {
      position: relative;
      height: 300px;
      width: 200px;
      margin-left: 150%;
    }
  }
  
  .basetimer__circle {
    fill: none;
    stroke: none;
  }
  
  .basetimer__pathelapsed {
    stroke-width: 7px;
    stroke: grey;
  }

  .basetimer__svg {
    transform: scaleX(-1);
  }

  .base_timer__label {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 48px;
    color: white;
  }

  @media only screen and (max-width: 768px){
    .base_timer__label {
      
      width: 200px;
      height: 300px;    
      font-size: 30px;
      color: white;
    }
  }

  .base_timer_path_remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: rgb(214, 57, 89);
  }